<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Ror on Heroku</h1>
    <p>Nuts and Bolts RoR</p>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
Hey buddy!
  </div>
  <hr>
</div>
